.list li a{
    text-decoration: none;
    color: #CFCFCF;
    font-size: 13px;
}

.background-img {
    background-image: url(./images/blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
}